:root {
	--primary-color: #535353;
	--text-light: #ffffff;
	--text-dark: #242424;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--primary-color);
	padding: 1rem 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	z-index: 2;
}

.brand {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--text-light);
}

.navList {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	transition: all 0.3s ease-in-out;
	flex-wrap: wrap;
}

.navItem {
	margin-left: 2rem;
}

.navItem:hover {
	color: #1071b6 !important;
}

.navLink {
	color: var(--text-light);
	text-decoration: none;
	font-size: 1rem;
	font-weight: 500;
	position: relative;
	transition: color 0.3s ease;
	padding: 0.9rem 0;
}

.navLink:hover {
	color: #1071b6 !important;
}

.menuToggle {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 24px;
	height: 18px;
	background: none;
	border: none;
	cursor: pointer;
	position: relative;
}

.menuToggle span,
.menuToggle::before,
.menuToggle::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: white;
	border-radius: 2px;
	transition: all 0.3s ease-in-out;
}

.menuToggle span {
	top: 7px;
}

.menuToggle::before {
	top: 0;
}

.menuToggle::after {
	top: 14px;
}

.logo {
    width: 60px;
    height: auto;
}

@media (max-width: 785px) {
	.menuToggle {
		display: flex !important;
	}

	.navList {
		flex-direction: column;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #1e1e1e;
		border-radius: 0 0 10px 10px;
		padding: 2rem 1.5rem;
		transform: translateY(-100%) translateZ(-10px);
		opacity: 0;
		pointer-events: none;
	}

	.navList.open {
		transform: translateY(60px);
		opacity: 1;
		pointer-events: auto;
	}

	.navItem {
		margin: 0.75rem 0;
	}
}
